{%extends 'base.html.twig'%}
{% block title %}
Réediter un compte utilisateur
{% endblock %}
{% block body %}
   <div class="container">
       <h1>Modifier votre profil </h1>
       {{ form_start(form) }}
       {{ form_widget(form) }}
       <button type="submit" class="btn btn-success">Valider les modification</button>
       {{ form_end(form) }}
   </div>
{% endblock %}