{% extends 'base.html.twig' %}
{% block title %}
Bienvenue sur le plus grand reseau de comminication.
{% endblock %}
{% block body %}
{#https://www.youtube.com/watch?v=ODDURLy85d4 #}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur le site BnB</h1>
        <p class="lead">Nous mettrons en relations les voyageurs et les propriétaires qui veulent profiter d'opportinuité 
            et gagner de l'argent en proposant leur bien à la location !</p>
        <hr class="my-4">
        <p>Vous êtes voyageur  et vous vous chercher la où vous loger pendant vos prochains deplacements?.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2>Nos appartements start</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
               <div class="card-header  text-center">
                   3 chambres,<strong>49&euro; /nuit </strong>
                   <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width: 100%; display: block"  />
             </div>
             <div class="card-body">
                 <h4 class="card-title"> Appartement de ouf !</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem
                      magni quibusdam fuga tenetur dolorem esse, quisquam reiciendis veniam voluptatibus quae 
                      voluptate quaerat nisi aspernatur nemo. Quibusdam dolorum sunt fuga!Pariatur dolore itaque 
                      quis esse voluptatum repudiandae eveniet sunt aut alias. Eligendi deleniti facere culpa 
                      consequatur voluptates. Minus blanditiis impedit doloribus eaque at similique laboriosam.
                       Ad cum officia libero dicta.
                </p>
                <a href="#" class="btn btn-secondary">En savoir plus</a>
             </div>
       </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
               <div class="card-header  text-center">
                   3 chambres,<strong>49&euro; /nuit </strong>
                   <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width: 100%; display: block"  />
             </div>
             <div class="card-body">
                 <h4 class="card-title"> Appartement de ouf !</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem
                      magni quibusdam fuga tenetur dolorem esse, quisquam reiciendis veniam voluptatibus quae 
                      voluptate quaerat nisi aspernatur nemo. Quibusdam dolorum sunt fuga!Pariatur dolore itaque 
                      quis esse voluptatum repudiandae eveniet sunt aut alias. Eligendi deleniti facere culpa 
                      consequatur voluptates. Minus blanditiis impedit doloribus eaque at similique laboriosam.
                       Ad cum officia libero dicta.
                </p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
             </div>
       </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
               <div class="card-header  text-center">
                   3 chambres,<strong>49&euro; /nuit </strong>
                   <small>pas encore noté</small>
                </div>
                <img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height:200px; width: 100%; display: block"  />
             </div>
             <div class="card-body">
                 <h4 class="card-title"> Appartement de ouf !</h4>
                 <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem
                      magni quibusdam fuga tenetur dolorem esse, quisquam reiciendis veniam voluptatibus quae 
                      voluptate quaerat nisi aspernatur nemo. Quibusdam dolorum sunt fuga!Pariatur dolore itaque 
                      quis esse voluptatum repudiandae eveniet sunt aut alias. Eligendi deleniti facere culpa 
                      consequatur voluptates. Minus blanditiis impedit doloribus eaque at similique laboriosam.
                       Ad cum officia libero dicta.
                </p>
                <a href="#" class="btn btn-secondary">En savoir plus</a>
             </div>
       </div>
</div>
<h2>Nos propriétaires start !</h2>
<div class="row">
<div class="col  mt-5">
 <div class="card border-secondary mb-3">
     <div class="card-body">
         <h4 class="card-title">Lior Chamla</h4>
         <hr>
         <div class="card-text">
             <img src="http://placehold.it/64x64" alt="avatar de lior Chamla" class="float-left mr-3">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, maxime provident 
                 deleniti quibusdam maiores commodi repudiandae, praesentium sit cumque corrupti aliquam doloribus! 
                 Alias sint ab sed hic iure saepe? Omnis.
            </p>
            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
         </div>
     </div>
 </div>
</div>
<div class="col  mt-5">
 <div class="card border-secondary mb-3">
     <div class="card-body">
         <h4 class="card-title">Lior Chamla</h4>
         <hr>
         <div class="card-text">
             <img src="http://placehold.it/64x64" alt="avatar de lior Chamla" class="float-left mr-3">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, maxime provident 
                 deleniti quibusdam maiores commodi repudiandae, praesentium sit cumque corrupti aliquam doloribus! 
                 Alias sint ab sed hic iure saepe? Omnis.
            </p>
            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
         </div>
     </div>
 </div>
</div>
<div class="col  mt-5">
 <div class="card border-secondary mb-3">
     <div class="card-body">
         <h4 class="card-title">Lior Chamla</h4>
         <hr>
         <div class="card-text">
             <img src="http://placehold.it/64x64" alt="avatar de lior Chamla" class="float-left mr-3">
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, maxime provident 
                 deleniti quibusdam maiores commodi repudiandae, praesentium sit cumque corrupti aliquam doloribus! 
                 Alias sint ab sed hic iure saepe? Omnis.
            </p>
            <a href="#" class="btn btn-success float-right">En savoir plus!</a>
         </div>
     </div>
 </div>
</div>
</div>
 </div>
{% endblock %}