{% extends 'base.html.twig' %}
{% block title %}
création d'une nouvelle annonce ! 
{% endblock %}
{%  form_theme form 'ad/_form.html.twig' %}
{% block body %}
<div class="container">
    <h1>Créer une nouvelle annonce </h1>
     {{form_start(form)}}
     {{form_widget(form)}}
     <button class="btn btn-primary">Créer la nouvelle</button>
     {{form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
   <script src="/js/ad.js"></script>>
{% endblock%}